[Desktop Entry]
Categories=Audio;Music;Player;AudioVideo;
Comment[en_GB]=
Comment=
Exec=spotify --minimized %U
GenericName[en_GB]=Music Player
GenericName=Music Player
Icon=spotify-client
MimeType=
Name[en_GB]=Spotify
Name=Spotify
Path=
StartupNotify=true
StartupWMClass=spotify
Terminal=false
TerminalOptions=
TryExec=spotify
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
